<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <span class="text-900 font-bold mb-5  text-4xl">Welcome to Voter Registration Application</span>
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, rgb(84 90 121 / 40%) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                <div class="grid flex flex-column align-items-center" >

                    <span class="text-800 font-bold mb-2">Deadline alert: 10/23/2023 is the last day to register before the 11/07/2023 election.</span>
                    <span class="text-800 font-bold mb-5">If you are not a U.S. citizen and a resident of Pennsylvania at least 30days before the net election, you CANNOT register to vote.</span>

                    <div *ngIf="step == 1">
                        <span class="text-900 mb-1">To register you must:</span>
                        <ul>
                            <li>Be a United States citizen at least 30 days before the next election</li>
                            <li>Be a resident of Pennsylvania and your election district for at least 30 days before the next election</li>
                            <li>Be at least 18 years old on the day of the next election</li>
                        </ul>
                        <img src="assets/demo/images/error/asset-error.svg" alt="Error" class="mb-5" width="80%">
                        <button pButton pRipple icon="pi pi-arrow-right" label="Start Here" class="p-button-text" (click)="getStart()"></button>
                    </div>

                    <div *ngIf="step == 2">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="username">Username</label>
                            <input pInputText id="username" aria-describedby="username-help" [(ngModel)]="value" />
                            <small id="username-help">Enter your username to reset your password.</small>
                        </div>xiong
                        <button pButton pRipple icon="pi pi-arrow-right" label="Start Here" class="p-button-text" (click)="getStart()"></button>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>
</div>